@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';
@import '@fontsource/poppins/100-italic.css';
@import '@fontsource/poppins/200-italic.css';
@import '@fontsource/poppins/300-italic.css';
@import '@fontsource/poppins/400-italic.css';
@import '@fontsource/poppins/500-italic.css';
@import '@fontsource/poppins/600-italic.css';
@import '@fontsource/poppins/700-italic.css';
@import '@fontsource/poppins/800-italic.css';
@import '@fontsource/poppins/900-italic.css';

@import '@fontsource/raleway/100.css';
@import '@fontsource/raleway/200.css';
@import '@fontsource/raleway/300.css';
@import '@fontsource/raleway/400.css';
@import '@fontsource/raleway/500.css';
@import '@fontsource/raleway/600.css';
@import '@fontsource/raleway/700.css';
@import '@fontsource/raleway/800.css';
@import '@fontsource/raleway/900.css';


/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

:root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
  scrollbar-gutter: unset;
}

button, input {
  border: 0 solid;
}

label {
  border-style: solid;
}

dialog {
  border: 0 solid;
}

* {
  font-family: Raleway, sans-serif;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.draggable-grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.5rem;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.muuri-item-placeholder {
  background: rgba(0, 128, 128, 0.15);
  border-radius: 5pt;
  z-index: 3;
  border: 2pt dashed darkslategrey;
}

.monitor-h-1 {
  height: 3vw !important;
}
.monitor-w-1 {
  width: 6vw !important;
}
.monitor-h-2 {
  height: 6vw !important;
}
.monitor-w-2 {
  width: 12vw !important;
}
.monitor-h-3 {
  height: 9vw !important;
}
.monitor-w-3 {
  width: 18vw !important;
}
.monitor-h-4 {
  height: 18vw !important;
}
.monitor-w-4 {
  width: 36vw !important;
}
.monitor-h-5 {
  height: 24vw !important;
}
.monitor-w-5 {
  width: 48vw !important;
}
